[submodule "submodules/docker-elk"]
	path = submodules/docker-elk
	url = https://github.com/deviantony/docker-elk.git
[submodule "submodules/sba.kubernetes-cluster"]
	path = submodules/sba.kubernetes-cluster
	url = https://github.com/kbelle-max/sba.kubernetes-cluster.git
[submodule "submodules/terraform-flask-k8s-deployment"]
	path = submodules/terraform-flask-k8s-deployment
	url = https://github.com/kbelle-max/terraform-flask-k8s-deployment.git
